<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        
            @RenderSection("Scripts", required: false)
        
        

    </div>
</body>
</html>
