<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav id="sideMenuMobile"
         class="mm-menu mm-menu_offcanvas mm-menu_position-left"
         aria-hidden="true">
        <div class="mm-navbars_top">
            <div class="mm-navbar">
                <img style="width: 50px; height: 50px"
                     src="https://booking.muongthanh.com/images/config/logo_1650360911.svg" />
            </div>
            <div class="mm-navbar">
                <a class="mm-btn mm-btn_prev mm-navbar__btn mm-hidden"
                   aria-hidden="true"></a><a class="mm-navbar__title"><span>Mường Thanh Hospitality</span></a>
            </div>
        </div>

        <div class="mm-panels">
            <div class="mainmenu mainmenu-megamenu_moblie not_home mm-panel mm-panel_opened"
                 id="mm-1">
                <div class="mm-navbar mm-navbar_sticky mm-hidden" aria-hidden="true">
                    <a class="mm-navbar__title"><span>Mường Thanh Hospitality</span></a>
                </div>

                <ul id="navmenu-v2" class="ul-header mm-listview">
                    <li class="li_header level_1 _home mm-listitem">
                        <a class="actives mm-listitem__text"
                           title="Mường Thanh Hospitality"
                           href="https://booking.muongthanh.com/"
                           rel="nofollow">Trang chủ</a>
                    </li>
                    <li class="li_header level0 first-item menu-item mm-listitem">
                        <a class="a_nav mm-listitem__text"
                           href="https://booking.muongthanh.com/diem-den"
                           data-target="#">Điểm đến</a>
                    </li>
                    <li class="li_header level0 menu-item mm-listitem">
                        <a class="a_nav mm-listitem__text"
                           href="https://booking.muongthanh.com/uu-dai"
                           data-target="#">Ưu đãi</a>
                    </li>
                    <li class="li_header level0 last-item mm-listitem">
                        <a class="a_nav mm-listitem__text"
                           href="https://booking.muongthanh.com/combo-gia-tot"
                           data-target="#">Combo</a>
                    </li>
                    <li class="li_header level0 menu-item mm-listitem">
                        <a class="a_nav mm-listitem__text"
                           href="https://booking.muongthanh.com/tin-tuc"
                           data-target="#">Tin tức</a>
                    </li>
                    <li class="li-mb-lang mm-listitem">
                        <span class="dropdown drop-lang-mb mm-listitem__text">
                            <a type="button"
                               id="dropMbLangBtn"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="https://booking.muongthanh.com/images/language_vn.svg"
                                     alt="VI"
                                     class="img-responsive" />
                                <span>Vi</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropMbLangBtn">
                                <li>
                                    <a class="dropdown-item"
                                       href="https://booking.muongthanh.com/">
                                        <img src="https://booking.muongthanh.com/images/language_vn.svg"
                                             alt="VI"
                                             class="img-responsive" />
                                        <span>Vi</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="https://booking.muongthanh.com/en">
                                        <img src="https://booking.muongthanh.com/images/language_en.svg"
                                             alt="VI"
                                             class="img-responsive" />
                                        <span>En</span>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </li>
                    <li class="li-mob-social mm-listitem">
                        <a href="tel:1900 1833" id="hotline" class="mm-listitem__text"><img src="/images/hotline.svg" alt="" />1900 1833</a>
                        <a href="https://www.facebook.com/fan.muongthanh"
                           id="fb"
                           class="mm-listitem__text">
                            <img src="/images/facebook.svg" alt="" />
                        </a>
                        <a href="https://www.instagram.com/muongthanh.hospitality/"
                           id="insta"
                           class="mm-listitem__text">
                            <img src="/images/instagram.svg" alt="" />
                        </a>
                        <a href="https://www.youtube.com/channel/UC5o0Ixg2ppx0bv3oLWBCDLQ"
                           id="yt"
                           class="mm-listitem__text">
                            <img src="/images/youtube.svg" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDXDG6Z"
                height="0"
                width="0"
                style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
    <input type="hidden"
           id="alert_member"
           value='["B\u1ea1n ch\u01b0a nh\u1eadp h\u1ecd t\u00ean","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","B\u1ea1n ch\u01b0a nh\u1eadp email","Email kh\u00f4ng \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u","M\u1eadt kh\u1ea9u ch\u01b0a \u0111\u00fang, vui l\u00f2ng nh\u1eadp l\u1ea1i","B\u1ea1n ch\u01b0a x\u00e1c nh\u1eadn Captcha","M\u1eadt kh\u1ea9u c\u00f3 \u00edt nh\u1ea5t 6 k\u00fd t\u1ef1","B\u1ea1n ch\u01b0a ch\u1ecdn \u0111\u1ee7 s\u1ed1 ph\u00f2ng. B\u1ea1n c\u00f3 mu\u1ed1n ti\u1ebfp t\u1ee5c?","B\u1ea1n \u0111\u00e3 ch\u1ecdn qu\u00e1 s\u1ed1 ph\u00f2ng. B\u1ea1n c\u00f3 mu\u1ed1n ti\u1ebfp t\u1ee5c?","B\u1ea1n ch\u01b0a ch\u1ecdn \u0111\u1ecba \u0111i\u1ec3m"]' />
    <div id="header_sticky-sticky-wrapper"
         class="sticky-wrapper is-sticky"
         style="height: 100px">
        <div id="header_sticky" style="position: fixed; top: 0px">
            <header>
                <div class="container">
                    <div class="d-flex header-menu">
                        <div class="col-md-4 desktop">
                            <div class="left">
                                <a href="tel:1900 1833" id="hotline">
                                    <svg width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.5215 16.9855C22.8876 15.9413 21.2149 15.4804 20.2741 15.2986C18.5572 14.9668 16.3445 14.992 15.272 15.7964C14.919 16.0613 14.7431 16.6088 14.7021 17.5717C14.6966 17.6986 14.6942 17.8225 14.6936 17.9399C12.8713 17.2361 11.1892 16.1862 9.7535 14.8562L9.12303 14.2293C7.78746 12.8037 6.73256 11.1334 6.02514 9.3244C6.14342 9.32382 6.2683 9.32143 6.39622 9.31606C7.36252 9.27525 7.91202 9.10071 8.17794 8.75019C8.98341 7.68851 9.01258 5.49632 8.68418 3.79478C8.50213 2.85118 8.03884 1.17364 6.98239 0.539611C5.93137 -0.0911817 4.30692 0.0609868 3.65724 0.155793C2.31695 0.351162 1.20191 0.824741 0.674396 1.42242C0.21472 1.94334 0.0532389 3.42991 0.00518895 4.0448C0.00389555 4.06096 0.00344269 4.07758 0.00370137 4.09382C0.082793 9.10232 2.00945 13.885 5.42862 17.559C5.43321 17.5639 5.43787 17.5707 5.44259 17.5755L6.40113 18.5327C6.40585 18.5374 6.41064 18.5502 6.41562 18.5546C10.1098 21.9538 14.9171 23.8346 19.9522 23.964C19.9548 23.964 19.9575 23.964 19.9602 23.964C19.9735 23.964 19.9868 23.9473 20.0002 23.9463C20.6178 23.8985 22.1107 23.722 22.6336 23.2658C23.2352 22.7409 23.7117 21.6311 23.9084 20.297C24.0038 19.6501 24.157 18.0326 23.5215 16.9855ZM22.8848 20.146C22.7301 21.1944 22.3558 22.1348 21.9538 22.4857C21.7735 22.6342 20.8384 22.825 19.9441 22.8966C15.1754 22.8162 10.6236 21.0011 7.12362 17.7836L6.17944 16.8447C2.94451 13.3653 1.11971 8.84093 1.03888 4.1008C1.11034 3.21385 1.30163 2.28583 1.45044 2.10683C1.80412 1.70613 2.75102 1.3335 3.80676 1.17959C4.91411 1.0181 5.9271 1.11278 6.45015 1.42676C6.95484 1.72967 7.42169 2.71214 7.66847 3.99086C7.99234 5.66905 7.86132 7.43287 7.36472 8.11035C7.16417 8.2512 6.25491 8.32667 5.40204 8.27565C5.30943 8.2523 5.20939 8.25385 5.11206 8.28632C5.02708 8.31471 4.95439 8.36308 4.89736 8.42439C4.81516 8.50878 4.7611 8.62144 4.75191 8.74819C4.74402 8.85742 4.77086 8.96102 4.82279 9.04865C5.53804 11.1396 6.68225 13.076 8.1705 14.7222C8.1881 14.7503 8.20866 14.7771 8.2322 14.8022C8.38553 14.9656 8.54223 15.126 8.7019 15.2829C8.86002 15.4421 9.02143 15.5981 9.18628 15.7509C9.21157 15.7743 9.23853 15.7947 9.26673 15.8121C10.9216 17.2913 12.8685 18.429 14.9702 19.1399C15.0577 19.1916 15.1612 19.2183 15.2704 19.2101C15.398 19.2009 15.5113 19.1459 15.5957 19.0626C15.6044 19.0544 15.6122 19.0455 15.6203 19.0368C15.6225 19.0342 15.6248 19.0317 15.627 19.0291C15.6726 18.9779 15.7098 18.9179 15.7327 18.8486C15.7648 18.7514 15.7661 18.6517 15.7426 18.5594C15.6917 17.7135 15.767 16.8124 15.9079 16.6134C16.5948 16.1153 18.3802 15.9865 20.078 16.3146C21.3539 16.5612 22.3346 17.024 22.6371 17.5225C22.952 18.0413 23.0468 19.0466 22.8848 20.146Z"
                                              fill="currentColor"></path>
                                    </svg>
                                    1900 1833
                                </a>
                                <a href="https://www.facebook.com/fan.muongthanh" id="fb">
                                    <svg width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 24C5.3736 24 0 18.6264 0 12C0 5.3736 5.3736 0 12 0C18.6264 0 24 5.3736 24 12C24 18.6264 18.6264 24 12 24Z"
                                              fill="currentColor"></path>
                                        <path d="M15.12 24V14.7048H18.24L18.708 11.0832H15.12V8.76961C15.12 7.7208 15.4104 7.0056 16.9152 7.0056H18.8328V3.768C18.5016 3.7248 17.3616 3.6264 16.0368 3.6264C13.272 3.6264 11.3784 5.3136 11.3784 8.41441V11.0856H8.25119V14.7072H11.3784V24H15.12Z"
                                              fill="white"></path>
                                    </svg>
                                </a>
                                <a href="https://www.instagram.com/muongthanh.hospitality/"
                                   id="insta">
                                    <svg width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9365 7.06878C8.97352 7.06878 6.51849 9.48148 6.51849 12.4868C6.51849 15.4921 8.93119 17.9048 11.9365 17.9048C14.9418 17.9048 17.3545 15.4497 17.3545 12.4868C17.3545 9.52381 14.8994 7.06878 11.9365 7.06878ZM11.9365 15.9577C10.0317 15.9577 8.46558 14.3915 8.46558 12.4868C8.46558 10.582 10.0317 9.01587 11.9365 9.01587C13.8412 9.01587 15.4074 10.582 15.4074 12.4868C15.4074 14.3915 13.8412 15.9577 11.9365 15.9577Z"
                                              fill="curentColor"></path>
                                        <path d="M17.5661 8.16931C18.2441 8.16931 18.7936 7.61974 18.7936 6.9418C18.7936 6.26386 18.2441 5.71429 17.5661 5.71429C16.8882 5.71429 16.3386 6.26386 16.3386 6.9418C16.3386 7.61974 16.8882 8.16931 17.5661 8.16931Z"
                                              fill="currentColor"></path>
                                        <path d="M20.7407 3.7672C19.6402 2.62434 18.0741 2.03175 16.2963 2.03175H7.57671C3.89417 2.03175 1.43915 4.48677 1.43915 8.16931V16.8466C1.43915 18.6667 2.03174 20.2328 3.21693 21.3757C4.35978 22.4762 5.88359 23.0265 7.61904 23.0265H16.254C18.0741 23.0265 19.5979 22.4339 20.6984 21.3757C21.8413 20.2751 22.4339 18.709 22.4339 16.8889V8.16931C22.4339 6.39153 21.8413 4.86772 20.7407 3.7672ZM20.5714 16.8889C20.5714 18.2011 20.1058 19.2593 19.3439 19.9788C18.582 20.6984 17.5238 21.0794 16.254 21.0794H7.61904C6.3492 21.0794 5.291 20.6984 4.52909 19.9788C3.76719 19.2169 3.38624 18.1587 3.38624 16.8466V8.16931C3.38624 6.89947 3.76719 5.84127 4.52909 5.07936C5.24867 4.35979 6.3492 3.97884 7.61904 3.97884H16.3386C17.6085 3.97884 18.6667 4.35979 19.4286 5.12169C20.1481 5.8836 20.5714 6.9418 20.5714 8.16931V16.8889Z"
                                              fill="currentColor"></path>
                                    </svg>
                                </a>
                                <a href="https://www.youtube.com/channel/UC5o0Ixg2ppx0bv3oLWBCDLQ"
                                   id="yt">
                                    <svg width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.4986 6.22336C23.2226 5.1907 22.4094 4.37756 21.3768 4.10156C19.505 3.6 12 3.6 12 3.6C12 3.6 4.49498 3.6 2.62317 4.10156C1.5907 4.37756 0.777375 5.1907 0.501422 6.22336C0 8.09498 0 12.0001 0 12.0001C0 12.0001 0 15.9052 0.501422 17.7766C0.777375 18.8093 1.5907 19.6227 2.62317 19.8986C4.49498 20.4 12 20.4 12 20.4C12 20.4 19.505 20.4 21.3768 19.8986C22.4094 19.6227 23.2226 18.8093 23.4986 17.7766C24 15.9052 24 12.0001 24 12.0001C24 12.0001 24 8.09498 23.4986 6.22336ZM9.59986 15.6002V8.40005L15.8351 12.0001L9.59986 15.6002Z"
                                              fill="currentColor"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col">
                            <div class="center">
                                <a href="#sideMenuMobile" class="toggle-menu-side-bar">
                                    <svg width="40"
                                         height="40"
                                         viewBox="0 0 40 40"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 0L40 20L20 40L0 20L20 0Z"
                                              fill="#F2A900"></path>
                                        <path fill-rule="evenodd"
                                              clip-rule="evenodd"
                                              d="M12 14H28V16H12V14ZM12 19H28V21H12V19ZM28 24H12V26H28V24Z"
                                              fill="white"></path>
                                    </svg>
                                </a>
                                <div class="logo">
                                    <a href="#"
                                       title="Minh Kiều Hospitality">
                                        <img src="~/img/logo MK.png"
                                             alt="Minh Kiều Hospitality"
                                             class="img-repsonsive site-logol" 
                                             style="width:100px height:100px"
                                             />
                                    </a>
                                </div>
                                <a class="mobile">
                                    <svg width="40"
                                         height="40"
                                         viewBox="0 0 40 40"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 0L40 20L20 40L0 20L20 0Z"
                                              fill="#EEEEEE"></path>
                                        <path d="M26 26.75V25.25C26 24.4544 25.6839 23.6913 25.1213 23.1287C24.5587 22.5661 23.7956 22.25 23 22.25H17C16.2044 22.25 15.4413 22.5661 14.8787 23.1287C14.3161 23.6913 14 24.4544 14 25.25V26.75"
                                              stroke="#3C3C3B"
                                              stroke-width="1.5"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                        <path d="M20 19.25C21.6569 19.25 23 17.9069 23 16.25C23 14.5931 21.6569 13.25 20 13.25C18.3431 13.25 17 14.5931 17 16.25C17 17.9069 18.3431 19.25 20 19.25Z"
                                              stroke="#3C3C3B"
                                              stroke-width="1.5"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 desktop">
                            <div class="right">
                                <div class="DN-DK">
                                    <a href="/index.php?module=members&amp;view=members&amp;Itemid=48"
                                       id="dang-nhap">Đăng nhập</a>
                                    <!-- <a href="#" id="dang-ky"></a> -->
                                </div>
                                <div class="language">
                                    <div class="dropdown">
                                        <a class="btn-lang"
                                           type="button"
                                           id="dropdownMenuButton2"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <img src="/images/language_vn.svg" alt="" />
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu"
                                            aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="dropdown-item"
                                                   href="https://booking.muongthanh.com/">Vi</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   href="https://booking.muongthanh.com/en">En</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown menu">
                                    <button type="button"
                                            id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu drop-header"
                                        aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item"
                                               href="https://booking.muongthanh.com/diem-den">Điểm đến</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               href="https://booking.muongthanh.com/uu-dai">Ưu đãi</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               href="https://booking.muongthanh.com/combo-gia-tot">Combo</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               href="https://booking.muongthanh.com/tin-tuc">Tin tức</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
