<!DOCTYPE html>
<html lang="en">

<head id="Head1" prefix="og: http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="Cache-control" content="public" />
    <title>Trang cá nhân | Đặt phòng Khách sạn Mường Thanh giá tốt nhất</title>
    <meta name="keywords" content="Đặt phòng khách sạn Mường Thanh" />
    <meta name="description" content="Website đặt phòng chính thức chuỗi 60 khách sạn Mường Thanh trên khắp Việt Nam và Lào. Đặt phòng khách sạn Mường Thanh với ưu đãi giá phòng tốt nhất." />
    <meta property="og:site_name" content="Mường Thanh Hospitality" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:title" content='Trang cá nhân | Đặt phòng Khách sạn Mường Thanh giá tốt nhất' />
    <meta property="og:url" content="https://booking.muongthanh.com" />
    <meta property="og:description" content="Website đặt phòng chính thức chuỗi 60 khách sạn Mường Thanh trên khắp Việt Nam và Lào. Đặt phòng khách sạn Mường Thanh với ưu đãi giá phòng tốt nhất." />
    <meta property="fb:app_id" content="504319887983839" />

    <meta name='author' content='Mường Thanh Hospitality' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="DC.title" content="Trang cá nhân | Đặt phòng Khách sạn Mường Thanh giá tốt nhất" />
    <meta name="geo.region" content="VN-HN" />
    <meta name="geo.placename" content="Ha Noi" />
    <meta name="geo.position" content="21.023925, 105.855053" />
    <meta name="ICBM" content="21.023925, 105.855053" />
    <meta name="REVISIT-AFTER" content="1 DAYS" />
    <meta name="RATING" content="GENERAL" />
    <meta http-equiv="REFRESH" content="1800" />

    <link rel="canonical" href="https://booking.muongthanh.com" />
    <link rel="alternate" media="handheld" href="http://booking.muongthanh.com" />
    <link rel="alternate" href="https://booking.muongthanh.com" hreflang="x" />
    <link type='image/x-icon' href='https://booking.muongthanh.com/images/favicon.ico' rel='icon' />
    <link rel="alternate" type="application/rss+xml" title="Mường Thanh Hospitality Feed" href="https://booking.muongthanh.com/rss.xml" />
    <script src="/libraries/jquery/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/libraries/fontawesome-free-6.1.1-web/css/all.min.css?v=1.76" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/templates/default/css/bootstrap5.min.css?v=1.76" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/templates/default/css/style.css?v=1.76" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/templates/default/css/mystyle.css?v=1.76" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/modules/members/assets/css/members.css?v=1.76" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/templates/default/css/mmenu.css?v=1.76" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/templates/default/css/daterangepicker.css?v=1.76" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://booking.muongthanh.com/templates/default/css/select2.min.css?v=1.76" />
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WDXDG6Z');</script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LJWT1L6YB7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LJWT1L6YB7');
    </script>
    <style>
        #ModalLogin .main .box .submit-btn {
            background-color: blue;
            color: aqua;
        }

        a.submitLogin.submit-btn {
            color: aqua;
        }

       
        a{
            cursor:pointer;
        }

        #ModalLogin .main .box .submit-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: normal;
            height: 50px;
            border-radius: 5px;
            background: blue;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
        }

        #ModalLogin .main .nav-tabs a.active {
            border-bottom: 4px solid blue;
        }

        .submitLogin:hover {
            background-color: aqua !important;
            border: 1px solid aqua !important;
            color: blue !important;
        }

        .submitLogin {
            color: aqua !important;
            -webkit-transition: .3s;
            transition: .3s;
        }
    </style>
</head>

<body>

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDXDG6Z"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->

    <input type="hidden" id="alert_member" value='["B\u1ea1n ch\u01b0a nh\u1eadp h\u1ecd t\u00ean","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","B\u1ea1n ch\u01b0a nh\u1eadp email","Email kh\u00f4ng \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u","M\u1eadt kh\u1ea9u ch\u01b0a \u0111\u00fang, vui l\u00f2ng nh\u1eadp l\u1ea1i","B\u1ea1n ch\u01b0a x\u00e1c nh\u1eadn Captcha","M\u1eadt kh\u1ea9u c\u00f3 \u00edt nh\u1ea5t 6 k\u00fd t\u1ef1","B\u1ea1n ch\u01b0a ch\u1ecdn \u0111\u1ee7 s\u1ed1 ph\u00f2ng. B\u1ea1n c\u00f3 mu\u1ed1n ti\u1ebfp t\u1ee5c?","B\u1ea1n \u0111\u00e3 ch\u1ecdn qu\u00e1 s\u1ed1 ph\u00f2ng. B\u1ea1n c\u00f3 mu\u1ed1n ti\u1ebfp t\u1ee5c?","B\u1ea1n ch\u01b0a ch\u1ecdn \u0111\u1ecba \u0111i\u1ec3m"]' />
    <div id="page">
        <input type="hidden" id="alert_info" value='["B\u1ea1n ch\u01b0a nh\u1eadp h\u1ecd t\u00ean","B\u1ea1n ch\u01b0a nh\u1eadp s\u1ed1 \u0111i\u1ec7n tho\u1ea1i","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i kh\u00f4ng \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i t\u1eeb 10 \u0111\u1ebfn 12 s\u1ed1","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","M\u1eadt kh\u1ea9u t\u1eeb 6 k\u00fd t\u1ef1 tr\u1edf l\u00ean","M\u1eadt kh\u1ea9u nh\u1eadp l\u1ea1i kh\u00f4ng \u0111\u00fang"]' />

        <main>
            <div id="ModalLogin" tabindex="-1" aria-labelledby="ModalLoginLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="main-content">
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="47.999" height="47.999" viewBox="0 0 47.999 47.999">
                                    <g transform="translate(0 -0.001)">
                                        <g transform="translate(0 0.001)">
                                            <path d="M26.651,24,47.45,3.2A1.875,1.875,0,1,0,44.8.55L24,21.349,3.2.55A1.875,1.875,0,0,0,.549,3.2L21.348,24,.549,44.8A1.875,1.875,0,0,0,3.2,47.451L24,26.652l20.8,20.8A1.875,1.875,0,0,0,47.45,44.8Z" transform="translate(0 -0.001)" />
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <div class="banner">
                                <img src="https://booking.muongthanh.com/images/login-banner.png" alt="logo" class="img-responsive">
                                <div class="summary">
                                    <h4>Trải nghiệm du lịch đẳng cấp tại Mường Thanh Hospitality</h4>
                                    <p>Hưởng nhiều ưu đãi và tích lũy điểm thưởng khi đăng ký thành viên</p>
                                </div>
                            </div>
                            <div class="main">
                                <div class="d-flex justify-content-center mb-3">
                                    <a href="https://booking.muongthanh.com/" class="pe-3 d-flex align-items-end">
                                        <img src="https://booking.muongthanh.com/images/config/logo_1650360911.svg" alt="logo">
                                    </a>
                                    <svg width="1" height="100" viewBox="0 0 1 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="1" height="100" fill="url(#paint0_linear_2422_22009)" />
                                        <defs>
                                            <linearGradient id="paint0_linear_2422_22009" x1="0.5" y1="0" x2="0.5" y2="100" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#D9D9D9" stop-opacity="0" />
                                                <stop offset="0.510417" stop-color="#CCCCCC" />
                                                <stop offset="1" stop-color="#D9D9D9" stop-opacity="0" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <div class="ps-3 d-flex align-items-center">
                                        <img src="https://booking.muongthanh.com/images/gold-mt-logo.svg" alt="golf-mt-logo" class="img-responsive">
                                    </div>
                                </div>

                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#Log" aria-controls="home" role="tab" data-toggle="tab" class="active">Đăng ký / Register</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#Res" aria-controls="profile" role="tab" data-toggle="tab"></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active show" id="Log">
                                        <form action="" method="post" class="frmLogin" id="frmLogin">
                                            <div class="box">
                                                <div class="svg">
                                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-3.31 0-6 2.69-6 6v2h12v-2c0-3.31-2.69-6-6-6z" fill="#3C3C3B" />
                                                    </svg>
                                                </div>

                                                <input id="log_name" name="log_name" type="text" class="form-control" placeholder="Full Name">
                                            </div>
                                            <div class="box">
                                                <div class="svg">
                                                    <img src="~/img/call_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="Description of SVG" width="20" height="20">

                                                </div>
                                                <input id="log_name" name="log_name" type="text" class="form-control" placeholder="Phone">
                                            </div>
                                            <div class="box">
                                                <div class="svg">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0.632078 4.18475C0.51839 4.43371 0.455078 4.70959 0.455078 4.99992V15.6666C0.455078 16.0007 0.538934 16.3157 0.687017 16.5926L7.11637 11.19L0.632078 4.18475Z" fill="#3C3C3B" />
                                                        <path d="M1.69336 17.5052C1.94098 17.6092 2.21368 17.6668 2.50028 17.6668H17.5003C17.7869 17.6668 18.0596 17.6092 18.3072 17.5052L11.9402 12.1551L11.4335 12.6415C10.6379 13.4057 9.36284 13.4057 8.56718 12.6415L8.06053 12.1551L1.69336 17.5052Z" fill="#3C3C3B" />
                                                        <path d="M19.314 16.5928C19.4622 16.3158 19.5461 16.0008 19.5461 15.6667V5.00004C19.5461 4.70971 19.4827 4.43383 19.3691 4.18488L12.8848 11.1902L19.314 16.5928Z" fill="#3C3C3B" />
                                                        <path d="M18.4258 3.21607C18.1478 3.07798 17.8332 3 17.5 3H2.50001C2.16686 3 1.85213 3.07798 1.57422 3.21607L8.58292 10.7883L9.52223 11.6904C9.7875 11.945 10.2124 11.945 10.4777 11.6904L11.417 10.7883L18.4258 3.21607Z" fill="#3C3C3B" />
                                                    </svg>
                                                </div>
                                                <input id="log_name" name="log_name" type="text" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="box">
                                                <div class="svg">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5717 6.71393C14.5717 6.54834 14.506 6.38901 14.3886 6.27182C14.2714 6.15464 14.1125 6.08893 13.9467 6.08893H6.05273C5.88686 6.08893 5.72796 6.15464 5.61077 6.27182C5.49344 6.38901 5.42773 6.54833 5.42773 6.71393V12.0132C5.42773 12.1788 5.49344 12.3383 5.61077 12.4555C5.72796 12.5727 5.88686 12.6382 6.05273 12.6382H13.9467C14.1125 12.6382 14.2714 12.5727 14.3886 12.4555C14.506 12.3383 14.5717 12.1788 14.5717 12.0132V6.71393ZM7.85881 9.33975L9.64313 11.1241L12.5426 8.22493L11.9206 7.603L9.64313 9.88036L8.48059 8.71782L7.85881 9.33975Z" fill="#3C3C3B" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.72356 6.08894V4.10622C7.72356 3.50297 7.96337 2.92415 8.39013 2.49755C8.81688 2.07022 9.3957 1.8304 9.99938 1.8304H9.99966C10.6033 1.8304 11.1821 2.07022 11.6089 2.49755C12.0357 2.92415 12.2755 3.50297 12.2755 4.10622V6.08894H13.3155V4.09676C13.3155 3.21787 12.9662 2.37412 12.3443 1.7523C11.7225 1.13037 10.879 0.781189 9.99969 0.781189H9.99941C9.12009 0.781189 8.27663 1.13038 7.65484 1.7523C7.03292 2.37408 6.68359 3.21783 6.68359 4.09676V6.08894H7.72356Z" fill="#3C3C3B" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2187 14.8086C19.2187 14.5594 19.1199 14.3212 18.9442 14.1454C18.7684 13.9696 18.5298 13.8711 18.2812 13.8711H1.71873C1.47013 13.8711 1.23155 13.9696 1.0558 14.1454C0.880021 14.3212 0.78125 14.5594 0.78125 14.8086V18.2812C0.78125 18.5297 0.880021 18.7687 1.0558 18.9444C1.23159 19.1202 1.47016 19.2187 1.71873 19.2187H18.2812C18.5298 19.2187 18.7684 19.1202 18.9442 18.9444C19.1199 18.7687 19.2187 18.5297 19.2187 18.2812V14.8086ZM17.8906 17.9179C17.8906 17.8429 17.8609 17.771 17.8077 17.7179C17.7548 17.6649 17.683 17.6352 17.6079 17.6352H14.3451C14.27 17.6352 14.1982 17.6649 14.1453 17.7179C14.0922 17.771 14.0625 17.8429 14.0625 17.9179C14.0625 17.993 14.0922 18.0648 14.1453 18.118C14.1982 18.171 14.27 18.2007 14.3451 18.2007H17.6079C17.683 18.2007 17.7548 18.171 17.8077 18.118C17.8609 18.0648 17.8906 17.993 17.8906 17.9179ZM5.102 16.9312C5.15794 16.9507 5.18389 16.9945 5.17971 17.0616C5.17552 17.1289 5.13283 17.2328 5.0515 17.3726C4.97031 17.5125 4.90167 17.6 4.84559 17.6352C4.7895 17.6703 4.73914 17.6695 4.69436 17.6336L3.85786 16.9648L4.0261 18.0195C4.04005 18.0789 4.01634 18.1234 3.95467 18.1547C3.89301 18.1851 3.78085 18.2007 3.61846 18.2007C3.45593 18.2007 3.34376 18.1851 3.2821 18.1547C3.22044 18.1234 3.19672 18.0789 3.21067 18.0195L3.37892 16.9648L2.54242 17.6336C2.50043 17.6695 2.45146 17.6695 2.39537 17.6336C2.33929 17.5968 2.26926 17.5086 2.18528 17.3687C2.10394 17.2313 2.06195 17.1289 2.05916 17.0616C2.05637 16.9945 2.08162 16.9507 2.13477 16.9312L3.13506 16.5445L2.13477 16.1578C2.08162 16.1382 2.05637 16.0953 2.05916 16.0282C2.06195 15.9609 2.10394 15.857 2.18528 15.7164C2.26647 15.5766 2.3358 15.4883 2.39328 15.4523C2.45076 15.4156 2.50043 15.4171 2.54242 15.4562L3.37892 16.1241L3.21067 15.0695C3.19672 15.0132 3.22044 14.9696 3.2821 14.9375C3.34376 14.9047 3.45593 14.8891 3.61846 14.8891C3.78085 14.8891 3.89301 14.9047 3.95467 14.9375C4.01634 14.9696 4.04005 15.0132 4.0261 15.0695L3.85786 16.1241L4.69436 15.4562C4.73914 15.4171 4.7888 15.4164 4.84349 15.4539C4.89818 15.4922 4.96752 15.5805 5.0515 15.7211C5.13283 15.8585 5.17553 15.9609 5.17971 16.0282C5.18389 16.0953 5.15794 16.1382 5.102 16.1578L4.10589 16.5445L5.102 16.9312ZM9.17271 16.9312C9.2288 16.9507 9.25475 16.9945 9.25056 17.0616C9.24624 17.1289 9.20369 17.2328 9.12235 17.3726C9.04102 17.5125 8.97252 17.6 8.91644 17.6352C8.86036 17.6703 8.80999 17.6695 8.76507 17.6336L7.92886 16.9648L8.09682 18.0195C8.11092 18.0789 8.08706 18.1234 8.0254 18.1547C7.96373 18.1851 7.85171 18.2007 7.68918 18.2007C7.52665 18.2007 7.41463 18.1851 7.35296 18.1547C7.2913 18.1234 7.26758 18.0789 7.28153 18.0195L7.44964 16.9648L6.61328 17.6336C6.57115 17.6695 6.52218 17.6695 6.46624 17.6336C6.41016 17.5968 6.34013 17.5086 6.256 17.3687C6.17481 17.2313 6.13281 17.1289 6.13003 17.0616C6.1271 16.9945 6.15235 16.9507 6.20564 16.9312L7.20593 16.5445L6.20564 16.1578C6.15235 16.1382 6.1271 16.0953 6.13003 16.0282C6.13282 15.9609 6.17481 15.857 6.256 15.7164C6.33733 15.5766 6.40653 15.4883 6.46415 15.4523C6.52149 15.4156 6.57115 15.4171 6.61328 15.4562L7.44964 16.1241L7.28153 15.0695C7.26758 15.0132 7.2913 14.9696 7.35296 14.9375C7.41463 14.9047 7.52665 14.8891 7.68918 14.8891C7.85171 14.8891 7.96373 14.9047 8.0254 14.9375C8.08706 14.9696 8.11091 15.0132 8.09682 15.0695L7.92886 16.1241L8.76507 15.4562C8.80999 15.4171 8.85966 15.4164 8.91435 15.4539C8.96889 15.4922 9.03837 15.5805 9.12235 15.7211C9.20369 15.8585 9.24624 15.9609 9.25056 16.0282C9.25475 16.0953 9.2288 16.1382 9.17271 16.1578L8.17661 16.5445L9.17271 16.9312ZM13.2438 16.9312C13.2997 16.9507 13.3257 16.9945 13.3215 17.0616C13.3173 17.1289 13.2746 17.2328 13.1934 17.3726C13.1121 17.5125 13.0435 17.6 12.9875 17.6352C12.9313 17.6703 12.8809 17.6695 12.8361 17.6336L11.9998 16.9648L12.1679 18.0195C12.1818 18.0789 12.1581 18.1234 12.0965 18.1547C12.0348 18.1851 11.9226 18.2007 11.7601 18.2007C11.5977 18.2007 11.4857 18.1851 11.424 18.1547C11.3624 18.1234 11.3385 18.0789 11.3525 18.0195L11.5207 16.9648L10.6844 17.6336C10.6422 17.6695 10.5933 17.6695 10.5372 17.6336C10.4811 17.5968 10.4111 17.5086 10.3271 17.3687C10.2457 17.2313 10.2037 17.1289 10.201 17.0616C10.1982 16.9945 10.2234 16.9507 10.2766 16.9312L11.2769 16.5445L10.2766 16.1578C10.2234 16.1382 10.1982 16.0953 10.201 16.0282C10.2037 15.9609 10.2457 15.857 10.3271 15.7164C10.4083 15.5766 10.4777 15.4883 10.5351 15.4523C10.5926 15.4156 10.6422 15.4171 10.6844 15.4562L11.5207 16.1241L11.3525 15.0695C11.3385 15.0132 11.3624 14.9696 11.424 14.9375C11.4857 14.9047 11.5977 14.8891 11.7601 14.8891C11.9226 14.8891 12.0348 14.9047 12.0965 14.9375C12.1581 14.9696 12.1818 15.0132 12.1679 15.0695L11.9998 16.1241L12.8361 15.4562C12.8809 15.4171 12.9306 15.4164 12.9853 15.4539C13.04 15.4922 13.1093 15.5805 13.1934 15.7211C13.2746 15.8585 13.3173 15.9609 13.3215 16.0282C13.3257 16.0953 13.2997 16.1382 13.2438 16.1578L12.2477 16.5445L13.2438 16.9312Z" fill="#3C3C3B" />
                                                    </svg>
                                                </div>
                                                <input id="log_pass" name="log_pass" type="password" class="form-control" placeholder="Mật khẩu / Password">
                                            </div>
                                            <div class="box box-flex">
                                                <label class="check-box d-flex align-items-center" for="log_save">
                                                  
                                                </label>

                                                <span>
                                                    Bạn đã có tài khoản?<a title="Đăng nhập" class="loginlink" href="@Url.Action("Login", "Home")" style="text-decoration:none">
                                                        Đăng nhập
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="box">
                                                <a href="javascript:void(0)" class="submitLogin submit-btn">Đăng ký / Register</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="Res">
                                        <form action="" method="post" class="frmRegister" id="frmRegister">
                                            <div class="box">
                                                <input id="res_email" name="res_email" type="text" class="form-control" placeholder="Email *">
                                            </div>
                                            <div class="box">
                                                <input id="res_name" name="res_name" type="text" class="form-control" placeholder="Họ tên *">
                                            </div>
                                            <div class="box">
                                                <input id="res_pass" name="res_pass" type="password" class="form-control" placeholder="Mật khẩu *">
                                            </div>
                                            <div class="box">
                                                <input id="res_pass_re" name="res_pass_re" type="password" class="form-control" placeholder="Nhập lại mật khẩu *">
                                            </div>
                                            <div class="box">
                                                <div id="res_captcha" class="g-recaptcha" data-sitekey="6LeAKDsaAAAAALJDDw7m8MPOgQlHofn3FQxWTYU8" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                            </div>
                                            <div class="box">
                                                <a href="javascript:void(0)" class="submitRegister submit-btn">Đăng ký</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="ModalLoginLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="main-content">
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="47.999" height="47.999" viewBox="0 0 47.999 47.999">
                            <g transform="translate(0 -0.001)">
                                <g transform="translate(0 0.001)">
                                    <path d="M26.651,24,47.45,3.2A1.875,1.875,0,1,0,44.8.55L24,21.349,3.2.55A1.875,1.875,0,0,0,.549,3.2L21.348,24,.549,44.8A1.875,1.875,0,0,0,3.2,47.451L24,26.652l20.8,20.8A1.875,1.875,0,0,0,47.45,44.8Z" transform="translate(0 -0.001)" />
                                </g>
                            </g>
                        </svg>
                    </button>
                    <div class="banner">
                        <img src="https://booking.muongthanh.com/images/config/group-670_1645871298.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="main">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#Log" aria-controls="home" role="tab" data-toggle="tab" class="active">Đăng ký</a>
                            </li>
                            <li role="presentation">
                                <a href="#Res" aria-controls="profile" role="tab" data-toggle="tab">Đăng ký</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active show" id="Log">
                                <form action="" method="post" class="frmLogin" id="frmLogin">
                                    <div class="box">
                                        <input id="log_name" name="log_name" type="text" class="form-control" placeholder="Email đăng nhập *">
                                    </div>
                                    <div class="box">
                                        <input id="log_pass" name="log_pass" type="password" class="form-control" placeholder="Mật khẩu *">
                                    </div>
                                    <div class="box box-flex">
                                        <label class="check-box" for="log_save">
                                            Lưu thông tin đăng nhập                                        <input type="checkbox" name="log_save" id="log_save" value="true">
                                            <span class="checkmark"></span>
                                        </label>
                                        <a href="https://booking.muongthanh.com/quen-mat-khau" title="Quên mật khẩu?" class="forgot-password">
                                            Quên mật khẩu?
                                        </a>
                                    </div>
                                    <div class="box">
                                        <a href="javascript:void(0)" class="submitLogin submit-btn">Đăng nhập</a>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Res">
                                <form action="" method="post" class="frmRegister" id="frmRegister">
                                    <div class="box">
                                        <input id="res_email" name="res_email" type="text" class="form-control" placeholder="Email *">
                                    </div>
                                    <div class="box">
                                        <input id="res_name" name="res_name" type="text" class="form-control" placeholder="Họ tên *">
                                    </div>
                                    <div class="box">
                                        <input id="res_pass" name="res_pass" type="password" class="form-control" placeholder="Mật khẩu *">
                                    </div>
                                    <div class="box">
                                        <input id="res_pass_re" name="res_pass_re" type="password" class="form-control" placeholder="Nhập lại mật khẩu *">
                                    </div>
                                    <div class="box">
                                        <div id="res_captcha" class="g-recaptcha" data-sitekey="6LeAKDsaAAAAALJDDw7m8MPOgQlHofn3FQxWTYU8" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                    </div>
                                    <div class="box">
                                        <a href="javascript:void(0)" class="submitRegister submit-btn">Đăng ký</a>
                                    </div>
                                </form>
                            </div>
                            <div class="wrapper">
                                <span></span>Hoặc đăng nhập bằng<span></span>
                            </div>
                            <a href="https://booking.muongthanh.com/oauth2callback" class="log-google log-social" title="Google Login">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                                        <g transform="translate(0 -64)">
                                            <path d="M81.79,294.078l-8.5-6a.5.5,0,0,0-.577,0l-8.5,6a.5.5,0,0,0-.212.409v.5a.5.5,0,0,0,.5.5h17a.5.5,0,0,0,.5-.5v-.5A.5.5,0,0,0,81.79,294.078Z" transform="translate(-61.001 -213.487)" fill="#cfd8dc" />
                                            <path d="M73.289,166.07l-8.5-6a.5.5,0,0,0-.789.409v12a.5.5,0,0,0,.789.409l8.5-6a.5.5,0,0,0,0-.817Z" transform="translate(-61 -91.479)" fill="#fafafa" />
                                            <path d="M254.549,160.068a.506.506,0,0,0-.519.035l-8.5,6a.5.5,0,0,0,0,.817l8.5,6a.5.5,0,0,0,.789-.408v-12A.5.5,0,0,0,254.549,160.068Z" transform="translate(-233.819 -91.512)" fill="#eee" />
                                            <path d="M62.641,64.344A.5.5,0,0,0,62.166,64h-19a.5.5,0,0,0-.3.9l9.5,7a.5.5,0,0,0,.593,0l9.5-7A.5.5,0,0,0,62.641,64.344Z" transform="translate(-40.666)" fill="#eceff1" />
                                            <path d="M21.5,64a.5.5,0,0,0-.3.1L12,70.879,2.8,64.1a.5.5,0,0,0-.3-.1A2.5,2.5,0,0,0,0,66.5v13A2.5,2.5,0,0,0,2.5,82h1a.5.5,0,0,0,.5-.5V69.965l7.711,5.444a.5.5,0,0,0,.577,0L20,69.965V81.5a.5.5,0,0,0,.5.5h1A2.5,2.5,0,0,0,24,79.5v-13A2.5,2.5,0,0,0,21.5,64Z" fill="#f44336" />
                                        </g>
                                    </svg>
                                </span>
                                Google
                            </a>
                            <a href="https://booking.muongthanh.com/login-face" class="log-facebook log-social" title="Facebook Login">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11.571" height="22.286" viewBox="0 0 11.571 22.286">
                                        <path d="M12.844-20.411a26.245,26.245,0,0,0-3.054-.161c-3.027,0-5.1,1.848-5.1,5.237v2.92H1.272v3.964H4.688V1.714h4.1V-8.451h3.4l.522-3.964H8.786v-2.531c0-1.138.308-1.929,1.955-1.929h2.1Z" transform="translate(-1.272 20.571)" fill="#1877f2" />
                                    </svg>
                                </span>
                                Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert_modal fade" id="alert_modal">
        <div class="alert_body">
            <div class="alert_message" id="alert_message">
            </div>
            <!-- <a id="a_message" onclick="close_alert()"></a> -->
            <a id="a_message" href="https://booking.muongthanh.com/">Đóng</a>
        </div>
    </div>
    <div class="alert_error"></div>

    <div class="wrap-loading">
        <div class="loadingio-spinner-eclipse-akld8va2qbt">
            <div class="ldio-d82d0rdnc3e">
                <div>
                </div>
            </div>
        </div>
        <img class="logo-loading" style="width: 100px; height: 100px; transform: translateY(-145px)" src="/images/config/logo_1650360911.svg" alt="">
    </div>
    <div class="scrollToTop">
        <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.449 10.0246C20.449 9.86384 20.3687 9.68304 20.2481 9.5625L10.8865 0.200893C10.766 0.0803567 10.5852 0 10.4245 0C10.2637 0 10.0829 0.0803567 9.9624 0.200893L0.600795 9.5625C0.480259 9.68304 0.399902 9.86384 0.399902 10.0246C0.399902 10.1853 0.480259 10.3661 0.600795 10.4866L1.60526 11.4911C1.7258 11.6116 1.9066 11.692 2.06731 11.692C2.22803 11.692 2.40883 11.6116 2.52937 11.4911L10.4245 3.59598L18.3195 11.4911C18.4401 11.6116 18.6209 11.692 18.7816 11.692C18.9624 11.692 19.1231 11.6116 19.2437 11.4911L20.2481 10.4866C20.3687 10.3661 20.449 10.1853 20.449 10.0246Z" fill="white" />
        </svg>
    </div>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/bootstrap5.min.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/modules/members/assets/js/default.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/modules/search/assets/js/search.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/form.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/form1.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/mmenu.polyfills.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/mmenu.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/moment.min.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/daterangepicker.min.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/select2.min.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/jquery.sticky.js?v=1.76"></script>
    <script language="javascript" type="text/javascript" src="https://booking.muongthanh.com/templates/default/js/template.js?v=1.76"></script>
</body>
</html>
